/* ===== GLOBAL RESET ===== */
body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  background: #f5f7fa;
  overflow-x: hidden;
  line-height: 1.6;
}

/* ===== HERO ===== */
.hero-section {
  background: linear-gradient(135deg, #0b1c2d, #163c61);
  padding: 60px 20px;
  text-align: center;
}

.hero-section h1 {
  color: #ff7a18;
  font-size: 32px;
  margin-bottom: 10px;
}

.hero-section p {
  color: #ffffff;
  font-size: 16px;
  max-width: 600px;
  margin: auto;
}

/* ===== HEADINGS ===== */
h2 {
  color: #ff7a18;
  font-size: 22px;
  margin-bottom: 5px;
  text-align: center;
}

/* ===== SECTIONS ===== */
section {
  padding: 15px 15px;
  background: #ffffff;
}
section p {
   text-align: center;
}

/* ===== GRIDS ===== */
.services-grid,
.flow-grid,
.signup-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 1100px;
  margin: auto;
}

/* ===== CARDS ===== */
.service-card,
.signup-card,
.road {
  background: #dde7f5;
  padding: 20px;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 5px 12px rgba(0,0,0,0.08);
}

.service-card:hover,
.signup-card:hover,
.road:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

/* ===== SIGNUP CARD ===== */
.signup-card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.signup-card p {
  font-size: 14px;
}

/* ===== BUTTONS ===== */
.action-btns {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

/* Hover */
.btn:hover {
  transform: scale(1.05);
}

/* SIGNUP */
.signup-btn {
  background: #ff7a18;
}

.signup-btn:hover {
  background: #e66a0f;
}

/* LOGIN */
.login-btn {
  background: #0b1c2d;
}

.login-btn:hover {
  background: #102a44;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 26px;
  }

  .hero-section p {
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
  }
}