{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Construct With Us</title>
  
  <link rel="stylesheet" href="{% static 'css/common/header.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/common/footer.css' %}">

  <!-- Favicon -->
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon/favicon.ico' %}">

<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">

<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">

<link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/favicon/android-chrome-192x192.png' %}">

<link rel="icon" type="image/png" sizes="512x512" href="{% static 'images/favicon/android-chrome-512x512.png' %}">

<link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
  
 {% block extra_css %}{% endblock %}
</head>
<body>

{% include 'common/header.html' %}

  <main class="main-content">
    {% block content %}
    {% endblock %}
  </main>

{% include 'common/footer.html' %}

</body>
</html>


